@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: 200;
	background-image: url(../images/BG.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;
}

/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 900px;
	padding-bottom: 80px;
	padding-top: 0px;
	display: block;
}
/* Container */
.container-portfolio {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 900px;
	padding-bottom: 70px;
	padding-top: 15px;
	display: block;
}
/* Container */
.container-IL-3D-OTH {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 900px;
	padding-bottom: 70px;
	padding-top: 15px;
	display: block;
}
/* Container */
.container-about {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 875px;
	padding-bottom: 70px;
	padding-top: 10px;
	display: block;
	background-repeat: no-repeat;
	background-position: center 80px;
	background-size: 25% auto;
}
/* Container */
.container-project1 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 900px;
	padding-bottom: 70px;
	padding-top: 10px;
	display: block;
	background-repeat: no-repeat;
	background-position: center 80px;
	background-size: 25% auto;
}
.about-bottom-sec {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 80%;
	margin-top: 200px;
}

/* Container */
.container-about-bot {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	padding-bottom: 70px;
	padding-top: 15px;
	display: block;
	background-repeat: no-repeat;
	background-position: center 80px;
	background-size: 25% auto;
}
/* Container */
.container-contact {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 900px;
	padding-bottom: 90px;
	padding-top: 15px;
	display: block;
	background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Container */
.container-header {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 10px;
	display: block;
	margin-right: auto;
	position: fixed;
	margin-left: auto;
}
.i-am-a {
	margin-left: auto;
	margin-right: auto;
	padding-right: 650px;
	margin-top: -160px;
	display: block;
	width: 100px;

}

/* Navigation */

.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 5%;
	float: left;
	margin-left: 25px;
	letter-spacing: 4px;
}
/* .topnav {
	float: right;
	width: 1.75%;
	text-align: right;
	margin-right: 50px;
} */
.topnav ul {
	list-style: none;
	float: right;
	width: 1.75%;
	text-align: right;
	margin-right: 50px;
}
.topnav li {
	float: right;
	display: inline;
	color: #FFFFFF;
	font-size: 17px;
	text-align: left;
	font-family: open-sans;
	font-weight: bold;
	margin-right: 25px;
	letter-spacing: 2px;
	transition: all 0.3s linear;
}
.topnav li a {
	color: #000000;
	text-decoration: none;
}
.topnav li:hover a {
	color: #991F1F;
	transition: .5s ease;
} 


.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	letter-spacing: 4px;
	width: 50%;
	padding-left: 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 2327px;
}

.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	color: #000000;
	margin-top: 10px;
	font-weight: 600;
	text-transform: none;
	letter-spacing: 1px;
	font-family: open-sans;
	font-style: normal;
	font-size: 30px;
}

.tagline-extra {
	color: #991F1F;
	font-weight: 600;
	text-transform: none;
	letter-spacing: 1px;
	font-family: open-sans;
	font-style: normal;
	font-size: 30px;
	list-style: none;
	margin-top: -71px;
	margin-left: 64px;
}

/* About Section */
.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.about-header {
	display: block;
	margin-top: 100px;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-right: 250px;
}
.project-header1 {
	display: block;
	margin-top: -705px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 0px;
	width: 0px;
	padding-left: 185px;
}
.project-header2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 0px;
	margin-top: -505px;
	padding-left: 600px;
}
.project-header3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 0px;
	margin-top: -505px;
	padding-left: 450px;
}
.about-top {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.about-name {
	width: 309px;
	text-align: left;
	font-family: open-sans;
	font-style: normal;
	font-weight: 500;
	font-size: medium;
	margin-left: -10px;
	margin-top: -20px;
}
.project-name1 {
	width: 175px;
	text-align: left;
	font-family: open-sans;
	font-style: normal;
	font-weight: 500;
	font-size: medium;
	margin-top: 285px;
}
.project-name2 {
	width: 175px;
	text-align: left;
	font-family: open-sans;
	font-style: normal;
	font-weight: 500;
	font-size: medium;
}
.about-work {
	width: 349px;
	text-align: left;
	font-family: open-sans;
	font-style: normal;
	font-weight: 500;
	font-size: medium;
	margin-left: 105px;
	margin-top: -17px;
}
.about-name-p {
	width: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	margin-top: -150px;
	padding-right: 12px;
}
.project-name-p1 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 300px;
	padding-left: 480px;
	font-size: x-small;
	text-align: justify;
	color: #000000;
}
.project-name-p2 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 300px;
	font-size: x-small;
	text-align: justify;
	color: #000000;
	margin-top: 3px;
	padding-left: 895px;
}
.project-name-p3 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 400px;
	font-size: x-small;
	text-align: justify;
	color: #000000;
	margin-top: 3px;
	padding-left: 855px;
}


/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: 300;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: open-sans;
	font-style: normal;
	font-size: small;
	margin-left: auto;
	margin-right: auto;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}
.biglogo {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 380px;
}
.homelogo {
	margin-left: auto;
	margin-right: auto;
	padding-top: 348px;
	width: 0px;
	display: block;
	padding-right: 775px;
}

.tagline-extra {
}
.job {
	display: block;
	margin-top: -73px;
	margin-left: 102px;

}
.portfolio-header {
	text-align: left;
	font-family: montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 98pt;
	margin-left: auto;
	float: right;
	margin-top: 350px;
	margin-right: auto;
	padding-bottom: 20px;
	display: block;
	width: 500px;

}
.artstation-logo {
	width: 70px;
	margin-left: 100px;
}
.artstation-div {

}
.behance-div {

}
.mail-div {

}
.insta-icon {
}
.copyright-icon {
	padding-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.contact-list-icon {
	width: 0%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-right: 1110px;
	padding-top: 0px;
}
.contact-artstation-icon {
	margin-top: 18px;

}
.contact-behance-icon {
	margin-top: 18px;
}
.contact-mail-icon {
	margin-top: 18px;
}

.hover_img a	{
	position: relative;
}
.hover_img a span	{
	position: relative;
	display: none;
}
.hover_img a:hover span	{
	display: block; 
} 
.move	{
	float: left;
}

/* .portfolio-test {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 0px;
} */

.about-pic {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 40px;
	padding-right: 350px;
}
/* .portfolio-test {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 0px;
} */

.project-pic1 {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
/* .portfolio-test {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 0px;
} */

.project-pic2 {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.project-gif1:hover {
	opacity: 100%;
	transition: .5s ease;
}

/* .portfolio-test {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 0px;
} */

.project-gif1 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: -708px;
	opacity: 0%;
}
/* .portfolio-test {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 0px;
} */

.project-gif2 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: -507px;
	opacity: 0%;
}

.project-gif2:hover {
	opacity: 100%;
	transition: .5s ease;
}

.about-name-head {
	width: 158px;
	margin-left: -10px;
	font-family: open-sans;
	font-style: normal;
	font-weight: 600;
	margin-top: -175px;
}
project-name-head1 {
	font-family: open-sans;
	font-style: normal;
	font-weight: 600;
	font-size: 0px;
}
.about-work-p {
	width: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 245px;
	margin-top: 175px;
}
.aki {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 220px;
}
.software-skills {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 75px;
}
.software-icons {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 100px;
	width: 65%;
}
.bars-out {
	width: 77%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 25px;
}
.percentage {
	width: 66.5%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 30px;
	padding-left: 20px;
}
.my-head {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: -536px;
	padding-right: 350px;
}
.artstation-div li a {
}
.contact-pic {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 700px;
	margin-top: -100px;
}
.header-3d {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 115px;

}
.header-3d-2 {
	width: 15%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 115px;

}
.p-3d-1 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-1:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}

.p-3d-17 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
	
}

.p-3d-17:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}

.p-3d-16 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-16:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}



.p-3d-2 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-2:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}


.p-3d-15 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}
.p-3d-15:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}

.portfolio-illus {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 0px;
	padding-right: 275px;
	margin-top: -486px;
}



.portfolio-3d {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: -205px;
	width: 0px;
	padding-left: 0px;
	padding-right: 1400px;
}



.portfolio-others {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 0px;
	margin-top: 5px;
	padding-right: 1000px;
}
.dotdot {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 0px;
	padding-right: 900px;
}
.dotdotme {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 0px;
	margin-top: -810px;
	padding-right: 628px;


}
.homeportfolio {
	display: block;
	margin-top: -615px;
	width: 0px;
	margin-left: auto;
	padding-bottom: 0px;
	margin-right: auto;
	padding-left: 315px;
}

.homeportfolio:hover {
	opacity: 50%;
	transition: .5s;
}

.homeabout {
	display: block;
	margin-top: -422px;
	width: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 565px;
}

.homeabout:hover {
	opacity: 50%;
	transition: .5s;
}

.homecontact {
	display: block;
	margin-left: auto;
	margin-top: -97px;
	margin-right: auto;
	width: 0%;
	padding-left: 740px;
}

.homecontact:hover {
	opacity: 50%;
	transition: .5s;
}

.homenav {
	display: block;
	width: 0px;
	margin-right: auto;
	position: absolute;
}
.logo-container {
}
.hero {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-column-gap: 20px;
	width: 50%;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	margin-top: 104px;
	padding-right: 90px;
}


.hero3 {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 20px;
	width: 11.5%;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	margin-top: 104px;
	padding-right: 110px;
}
.hovermeatag {
	margin-left: 22px;
}
.hovermeatag2 {
	margin-left: 22px;
}
.hoverme2 {
	width: 172px;
	font-family: open-sans;
	font-style: normal;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 290px;
	color: #993333;
	padding-left: 327px;
}
.hoverme3 {
	width: 172px;
	font-family: open-sans;
	font-style: normal;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 150px;
	color: #993333;
	padding-left: 750px;
}
.video {
	width: 10%;
}
.placeholder {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 689px;
	margin-top: 375px;
	font-weight: 600;
	font-size: xx-large;
	text-align: justify;
}
.homecontainer {
}
.portfoliodotdot {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 50%;
	margin-top: 110px;
	transform: scaleX(-1)

}






















































/* Mobile */
@media (max-width: 400px) {
.logo {
	width: 20%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}


.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
nav {
	float: right;
	width: 5%;
	text-align: right;
	margin-right: 25px;
	padding-top: 20px;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}

}

/* Small Tablets */
@media (min-width: 401px)and (max-width: 768px) {
.logo {
	width: 30%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 30px;
	color: #043745;
}
	
	.container {
		width: 100%;
		
	}
	
	.homelogo img {
	display: none;
	}
	
	.homecontainer {
		width: 80%;
		object-fit: cover;
		
	}
	
	
	.homeportfolio {
	margin-left: 305px;
	}
	
	
nav {
	float: right;
	width: 8%;
	text-align: right;
	margin-right: 25px;
	padding-top: 20px;
}

.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}
.nav {
}
.portfolio-list {
	z-index: 200;
	width: 300px;
	line-height: 200%;
	font-family: montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: x-large;
	margin-left: auto;
	text-transform: uppercase;
	letter-spacing: 5px;
	display: block;
	margin-right: auto;
	padding-left: 1100px;
}

.portfolio-header-2 {
	width: 500px;
	margin-left: auto;
	display: block;
	padding-top: 350px;
	margin-right: auto;
	padding-right: 0px;
	padding-left: 850px;
}

.portfolio-list ul {
	list-style: none;
	text-align: none;
	float: right;
}
.portfolio-list li {
	float: right;
	display: inline;
	color: #FFFFFF;
	text-align: none;
	margin-right: 25px;
	transition: all 0.3s linear;
}
.portfolio-list li a {
	color: #000000;
	text-decoration: none;
}
.portfolio-list li:hover a {
	color: #991F1F;
	transition: .25s ease;
}

.contact-header {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-right: 600px;
	margin-top: -805px;

}
.contact-subheader {
	margin-left: auto;
	margin-top: -85px;
	margin-right: auto;
	display: block;
	padding-right: 725px;
}

.contact-list ul {
}
.contact-list li {
	color: #000000;
	transition: all 0.3s linear;
	list-style: none;
}
.contact-list li a {
	color: #000000;
	text-decoration: none;
}
.contact-list li:hover a {
	color: #991F1F;
	text-decoration:none;
}
.contact-list {
	line-height: 250%;
	list-style: none;
	width: 369px;
	text-align: left;
	font-family: montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: x-large;
	text-transform: none;
	letter-spacing: 2.5px;
	margin-left: auto;
	margin-top: -234px;
	margin-right: auto;
	display: block;
	padding-right: 670px;
}
.about-work-head {
	width: 137px;
	margin-left: 103px;
	margin-top: -163px;
	font-family: open-sans;
	font-weight: 600;
}
.p-3d-3 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-3:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}

.p-3d-18 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-18:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}

.p-3d-14 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-14:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}

.p-3d-4 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-4:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}

.p-3d-13 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-13:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}

.p-3d-5 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-5:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}

.p-3d-12 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-12:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}

.p-3d-6 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-6:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}

.p-3d-11 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-11:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}



.p-3d-7 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-7:hover {
	filter: grayscale(0%);
	transition: .25s ease;

}

.p-3d-10 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-10:hover {
	filter: grayscale(0%);
	transition: .25s ease;
}

.p-3d-8 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}
.p-3d-8:hover {
	transition: .25s ease;
	filter: grayscale(0%);
}

.p-3d-9 {
	display: block;
	width: 0px;
	filter: grayscale(50%);
}

.p-3d-9:hover {
	transition: .25s ease;
	filter: grayscale(0%);
}

.project-hover-c {
	display: grid;
	grid-template-columns: auto;
	grid-column-gap: 0px;
	width: 50%;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	margin-top: 120px;
	padding-right: 375px;
}
.project-hover-c2 {
	display: grid;
	grid-template-columns: auto;
	grid-column-gap: 0px;
	width: 50%;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	margin-top: 215px;
	padding-right: 350px;
}
.project-hover-c3 {
	display: grid;
	grid-template-columns: auto;
	grid-column-gap: 0px;
	width: 50%;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	margin-top: 215px;
	padding-right: 500px;
}
.portfoliod {
}
